<head>

  {% assign title = page.title | default: site.title | escape %}
  {% assign description = page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %}
  {% assign image = page.image | default: site.author.image %}

  {% if page.name and page.collection == 'projects' %}
    {% assign title = page.name | escape %}
  {% endif %}

  {% if page.name and page.collection == 'docs' %}
    {% assign title = page.name | escape %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">

  <!-- Theme style -->
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">

  <!-- Slutares CSS CDN -->
  <link rel="stylesheet" href="https://slutares.sirv.com/css/creative.css">

  <!-- Animate CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<script>
        function loginWithEpic() {
            // Redirect the user to the Epic Games login page
            window.location.href = `https://www.epicgames.com/id/authorize?client_id=xyza7891D9UWmFmhLv4Qyprz2w9AQiof&redirect_uri=${window.location.href}&response_type=code&scope=basic_profile`;
        }

        // Function to decode the JWT token and display the displayname
        function decodeToken(token) {
            // Decode the payload of the token
            const payload = JSON.parse(atob(token.split('.')[1]));

            // Extract the displayname from the payload
            const displayName = payload.dn;

            // Update the button text to display the displayname
            document.getElementById("loggedInMessage").innerText = "Logged in as " + displayName;
        }

        // Check if there's an authorization code in the URL (returned from Epic Games after login)
        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code');
        
        if (code) {
            // Make a request to the token endpoint to exchange the code for an access token 'https://corsproxy.io/?' + encodeURIComponent('https://dev.epicgames.com/portal/api/v1/services/tickets/submit/');
            fetch('https://corsproxy.io/?' + encodeURIComponent('https://api.epicgames.dev/epic/oauth/v2/token'), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'Authorization': 'Basic eHl6YTc4OTFEOVVXbUZtaEx2NFF5cHJ6Mnc5QVFpb2Y6RUNSSzhFTS9vbWRoUnlmK1dhNklqTGVOZHZVSE5rYTY3RHNuM1FuMEw0QQ==' // Replace with your client credentials
                },
                body: 'deployment_id=864f12bc0bdf472ea2a8c7c4b1485c25&grant_type=authorization_code&code=' + code
            })
            .then(response => response.json())
            .then(data => {
                // Extract the access token from the response
                const accessToken = data.access_token;
                // Decode the access token and display the displayname
                decodeToken(accessToken);
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</head>
